@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}
/* .ant-btn:not([disabled]) {
  background:#42bb67 ;
  color: rgb(255, 255, 255);
} */
.ant-btn:not([disabled]):hover {
  font-weight: bold;
  color:#48b89f
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: white;
  --foreground: black;
}
[data-theme='dark'] {
  --background: rgba(33, 33, 33, 0.723);
  --foreground: white;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* .slick-dots li button {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: red;
  color: blue;
}
.slick-dots li.slick-active button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: red;
} */

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(208, 208, 208); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(86, 159, 190); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 109, 132); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.mainpage{
  background-image: url("../../public/Durian.jpg") !important;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
}

body {
  
  color: rgb(46, 46, 46);
  font-family: 'Roboto', sans-serif;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    
}
button{
  outline: none;
}
button:active{
  transform: scale(0.9);
}
p{
  cursor: pointer;
}
