@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: white;
  --foreground: black;
}
[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.mainpage{
  background-image: url("../../public/Durian.jpg") !important;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  /* color: black; */
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
